[project]
	description = A catalog for maintaining different kinds of recipes all over the nation
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anupUniversal
[access "refs/for/refs/*"]
	read = group user/anupUniversal
	push = group user/anupUniversal
	label-Code-Review = -2..+2 group user/anupUniversal
	label-Verified = -1..+1 group user/anupUniversal
	rebase = group user/anupUniversal
	removeReviewer = group user/anupUniversal
	submit = group user/anupUniversal
[access "refs/heads/*"]
	read = group user/anupUniversal
	create = group user/anupUniversal
	push = +force group user/anupUniversal
	pushMerge = group user/anupUniversal
[access "refs/tags/*"]
	push = +force group user/anupUniversal
	pushTag = group user/anupUniversal
	pushSignedTag = group user/anupUniversal
